<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1 style="border: 3px solid #47126b;
    width: 60%;
    margin-left: 32%;
    margin-top: 110px;
    box-shadow: 0 2px 8px;
    margin-bottom: 3%;
    border-radius: 12px;">Page Not Found!</h1>

<%- include('includes/end.ejs') %>